<?xml version="1.0"?>
<!--
/**
 * @author Atwix Team
 * @copyright Copyright (c) 2018 Atwix (https://www.atwix.com/)
 * @package Atwix_JoinOrderExtAttribute
 */
-->
<!-- File: app/code/Atwix/JoinOrderExtAttribute/etc/di.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="atwix_join_order_ext_attribute"
                type="Atwix\JoinOrderExtAttribute\Plugin\OrderRepositoryAddExtensionAttributePlugin" />
    </type>
</config>
